body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Poppins", sans-serif;
}
/*------ThemeToggle dark light--------*/
/* Default Light Mode */
:root {

  --bg-light: #f2e3ff;
  --bg-light2: #ffffff;
  /*--bg-light2:#cddced;*/
  --text-light: #272626;
  --shadow-light: rgba(0, 0, 0, 0.4);


  --bg-dark: #362544;
  --bg-dark2: #0b0b0f;
  /*--bg-dark2:#243b55;*/
  --text-dark: #ffffff;
  --shadow-dark: rgba(221, 220, 220, 0.9);
}

/* Prevent flexbox/grid issues */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin-top: -60px;
  background: linear-gradient(135deg, #360a13, #091446,#0a432f); /*vibrant gradient*/
  /* background-image: url(public/images/IMG-20250404-WA0004.jpg); */
  /* background: linear-gradient(120deg,var(--bg-light) 15%, #f9d292 24%, #f09308 28%, #ef1a8f 32%, #a734ee 36%, #3d43fe 40%,var(--bg-light) 45%); */
}

.dark #root {
  background-color: black;
  /* background: linear-gradient(120deg,var(--bg-dark) 15%, #f9d292 24%, #f09308 28%, #ef1a8f 32%, #a734ee 36%, #3d43fe 40%,var(--bg-dark) 45%); */
}

/* Prevent global styles from affecting components */
* {
  box-sizing: inherit;
}

/* Reset default margins and paddings safely */
html,
body {
  margin: 0;
  padding: 60px 0 0 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  font-family: "poppins";
  /* Apply a smoother scrolling effect */
  scroll-behavior: smooth;
  background-color: var(--bg-light);

}

/* Ensure all elements stay inside the screen */
body {

  overflow-x: hidden;
  /* Prevent horizontal scroll */
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

.dark html,
body {
  background-color: var(--bg-dark);
}



/* ----------ScrollBar--------------------------------------------- */
/* Scrollbar for Webkit browsers (Chrome, Edge, Safari) */
/* ::-webkit-scrollbar {
  background: rgba(0, 0, 0,0.01);
    width: 10px;
    height: 10px;
} */

/* Scrollbar Track */
/* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0,0.01);
    border-radius: 5px;
} */

/* Scrollbar Handle */
/* ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff8a00, #da1b60); /* Gradient handle */
/* border-radius: 10px;
    transition: 0.3s ease-in-out;
} */
*/
/* Hover Effect on Scrollbar */
/* ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff8a00, #ff0055);
} */

/* Firefox Scrollbar */
* {
  font-family: Verdana, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.01);
  ;
}